---
layout: default
pagination:
  data: collections.tags
  size: 1
  alias: tag
permalink: /tag/{{ tag.name }}/
---

{% include 'folders.njk' %}

<h1 style="margin-bottom:4rem;">Étiquette: « {{ tag.name }} »</h1>
<section class="gallery">

{% for image in tag.images %}
    
    {% include 'image.njk' %}

{% endfor %}

</section>
